*{
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #000000;
    color: #ffffff;
    display: flex; /* Permet que les élèments soient  */
    flex-direction: row;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.lien {
    color: #FF9D08;

}

.lien:hover {
    color: #DC8C14;
    text-decoration: underline;
}

.partiegauche {
    width: 30%;
    border-right: grey 1px solid;
    height: 100%;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 50px;
}

nav .bouton {
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

nav .bouton:hover {
    background: #232323;
}

nav .publier {
    background: #FF9D08;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    margin-top: 10px;
}

nav .publier:hover {
    background: #DC8C14;
}

nav img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

nav a {
    display: flex;
    flex-direction: row;
}

.partiecentrale {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    padding: 1em 1em 1em 1em;
}

.feed {
    width: 90%;
    overflow-y: scroll;
    text-overflow: ellipsis;
    padding: 15px;
}

.profil, .tag {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.partiecentrale img {
    max-width: 400px;
}

.feed::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.feed::-webkit-scrollbar-track{
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 3px;
}

/* Handle */
.feed::-webkit-scrollbar-thumb {
    background: #FF9D08;
    border-radius: 3px;
}

/* Handle on hover */
.feed::-webkit-scrollbar-thumb:hover {
    background: #DC8C14;
}

.Touite{
    min-width: 30%;
    border: 1px solid grey;
    word-wrap: break-word;
    margin-bottom: 20px;
    padding: 10px;
}

form {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px auto;
}

form * {
    margin: 5px;
    text-align: left;
}

form input {
    background: #000000;
    color: #ffffff;
    width: 400px;
    border: 1px solid grey;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;

}

form label {
    display: none;
    padding: 0 5px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 0;
}

form input:focus + label {
    color: #FF9D08;
    display: block;
    position: relative;
    top: -60px;
    left: 10px;
    height: 0;
    margin: 0;
}

form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus {
    padding-top: 30px;
}

form input:focus::placeholder {
    color: transparent;
}

form input:focus {
    outline: #FF9D08 2px solid;
}

form input[type=submit] {
    background: #FF9D08;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
}

form input[type=submit]:hover {
    background: #DC8C14;
}

.partiedroite {
    width: 30%;
}

input:focus + label {
    right: 10px;
}

form a {
    color: #FF9D08;
}

form a:hover {
    color: #DC8C14;
    text-decoration: underline;
}

.publier img {
    display: none;
}

#info {
    padding: 10px;
}

.icon{
    width : 3%;
    height : 3%;
}

.buttons{
    justify-content: end;
    display: inline-flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px auto;
}

@media screen and (max-width: 920px) {
    .partiegauche {
        width: 300px;

    }

    nav {
        align-items: flex-start;
    }

    nav .bouton span {
        display: none;
    }

    nav .publier span {
        display: none;
    }

    nav .publier img {
        display: block;
    }

    nav .publier {
        width: 50px;
    }

    .partiedroite {
        display: none;
    }
}