*{
    font-family: 'Roboto', sans-serif;
}




html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #000000;
    color: #ffffff;
    display: flex; /* Permet que les élèments soient  */
}

a {
    color: #ffffff;
    text-decoration: none;
}

.partiegauche {
    width: 15%;
    border-right: grey 1px solid;
    height: 100%;
    position: fixed;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 50px;
}

nav .bouton {
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

nav .bouton:hover {
    background: #232323;
}

nav .publier {
    background: #1D9BF0;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
}

nav .publier:hover {
    background: #166FAB;
}

nav img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

nav a {
    display: flex;
    flex-direction: row;
}

.partiecentrale {
    display: block;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid grey;
    border-radius: 20px;
    padding: 10px;
}

form * {
    margin: 5px;
}

form label {
    margin-top: 20px;
}

form input {
    background: #000000;
    color: #ffffff;
}

form input[type=submit] {
    background: #1D9BF0;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

form input[type=submit]:hover {
    background: #166FAB;
}

.partiedroite {
    width: 20%;
}



