RewriteEngine On

#
# RewriteBase indispensable sur webetu :
# pour un projet sur webetu dans ~/www/repertoire-projet
RewriteBase /www/quilliec2u/autres/test


#
# Pour interdire l'accès aux sous-répertoires contenant du code
# -> ~/www/repertoire-projet/src
# -> ~/www/repertoire-projet/sql
# -> etc...
RewriteRule ^src(/.*|)$ - [NC,F]
RewriteRule (/*).ini - [NC,F]
RewriteRule (/*).json - [NC,F]
RewriteRule (/*).lock - [NC,F]
RewriteRule (/*).md - [NC,F]
RewriteRule .gitignore - [NC,F]
RewriteRule ^vendor(/.*|)$ - [NC,F]
RewriteRule ^images(/.*|)$ - [NC,F]
